.best-sellers {}

.container {}

.best-sellers__inner {
    
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.section-title {}

.view-all {
    padding: 8px 15px 8px 31px;
    font-size: 14px;
    line-height: 1.71429;
    text-transform: capitalize;
    color: #5a6d57;
    cursor: pointer;
}

.best-sellers__slider {
    width: 100%;
    max-width: 1224px;
    height:  572px;
    @include mobile-s {
        height: 400px;
    }

}

.swiper-wrapper {}

.swiper-slide {}

.swiper-pagination {}

.swiper-button-prev {}

.swiper-button-next {}