.card-gallery {
    position: relative;
}

.btn-gallery {
    position: absolute;
    right: 16px;
    bottom: 16px;
    @include mobile {
        position: unset;
        justify-content: unset;
        padding-left: 16px;
    }
    @include mobile-s {
        
    }
}