.collection {
}

.gallery__collection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    height: min(115vw, 1419px);
    gap: 24px;
    width: 48%;
    @include mobile {
        height: min(125vw, 1419px);
        align-items: start;
        gap: 16px;
    }
    @include mobile-s {
        height: min(150vw, 1419px);
        gap: 12px;
    }
}