.footer {
    background: #000;
}

.footer__inner {
    display: flex;
    align-items: center;
    height: 70px;
    padding-left: 32px;
}

.copyright {
    font-size: 12px;
    line-height: 1.8;
    text-transform: capitalize;
    color: #cbcbcb;
}