<div class="swiper-slide">
  <div class="slide">
    <div class="slide-photo">
      <img
        src="./../../../img/best-sellers/@@photo.jpg"
        srcset="./../../../img/best-sellers/@@photo@2x.jpg"
        alt="Alt"
      />
      <div class="like" id="like">
        <svg class="icon icon--favorite-slide">
          <use href="./img/svgsprite/sprite.symbol.svg#favorite-slide"></use>
        </svg>
      </div>
    </div>
    <div class="slide-info">
      <div class="slide-info__description">
        <div class="slide-info__name">@@name</div>
        <div class="about__dress">@@description</div>
        <div class="colors">
          <div class="color" style="background-color: #@@color1;"></div>
          <div class="color" style="background-color: #@@color2;"></div>
          <div class="color" style="background-color: #@@color3;"></div>
        </div>
      </div>
      <div class="price__dress">$@@price</div>
    </div>
  </div>
</div>
